.random__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    background-color: #d8e4e6;
    border-radius: 5px;
}

.random__image-wrap {
    max-width: 200px;
    height: 200px;

}

.random__wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    object-fit: cover;
}

.random__description {
    width: calc(100% - 300px);
    padding: 25px;
}

.random__description .title {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.descr__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.descr__item {
    margin: 7px 0;

    color: #ff0000;
    font-family: sans-serif;
    text-transform: capitalize;
}

.descr__item span {
    color: #000;
}